In [1]:
#introducing a new "DateOfBirth(age)" column in  data/null_value_imputed_data1.csv that will calculate the DoB of the person based on age at the time of data collection 
#  "DateOfBirth(age)" = date_today - age
#  "DateOfBirth(age)" will contain data in (YYYY-MM) format

In [3]:
from datetime import datetime, timedelta
import pandas as pd

In [6]:
data1 = pd.read_csv("/home/theghost001/Pictures/practice_with_H/data/null_value_imputed_data1.csv",encoding='ascii')

In [7]:
data1.insert(1, "DateOfBirth(age)", None)

In [11]:
for index, row in data1.iterrows():
    data1.loc[index, 'DateOfBirth(age)'] = (datetime.today() - timedelta(days = 365.25*row['Age'])).strftime('%Y-%m')

In [12]:
data1.head()

,CustomerID,DateOfBirth(age),ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,Totalvisiting
0,200000,1984-01,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0
1,200001,1976-01,0,49.0,Company Invited,1,14.0,Salaried,Male,5.0
2,200002,1988-01,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3.0
3,200003,1992-01,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0
4,200004,1989-01,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2.0

In [13]:
data1['DateOfBirth(age)'].value_counts()

DateOfBirth(age)
1989-01    457
1990-01    237
1991-01    211
1994-01    203
1995-01    199
1993-01    197
1992-01    189
1988-01    185
1996-01    178
1987-01    176
1984-01    155
1986-01    150
1997-01    147
1985-01    146
1983-01    142
1998-01    138
1982-01    130
1979-01    121
1980-01    116
1999-01    106
1981-01    105
1974-01     90
1978-01     88
1975-01     86
2000-01     74
1973-01     68
1972-01     66
1976-01     65
1977-01     65
1970-01     64
1971-01     61
1969-01     58
2001-01     56
2002-01     46
2003-01     46
1966-01     44
2004-01     41
2005-01     38
2006-01     32
1967-01     31
1968-01     29
1965-01     29
2007-01     14
1964-01      9
Name: count, dtype: int64

In [14]:
data1.to_csv("/home/theghost001/Pictures/practice_with_H/data/null_value_imputed_data1.csv", index=False)