## Data cleaning

In [2]:
#importing necessary libraries
#fmt :off
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

#fmt :on

In [4]:
data1 = pd.read_csv('/home/theghost001/Pictures/practice_with_H/data/travel_first_half - Travel.csv')

In [5]:
data2 = pd.read_csv('/home/theghost001/Pictures/practice_with_H/data/travel_second_half - Travel.csv')

In [6]:
features1 = (data1.columns).to_list()
features2 = (data2.columns).to_list()

In [7]:
features1, features2

(['CustomerID',
  'ProdTaken',
  'Age',
  'TypeofContact',
  'CityTier',
  'DurationOfPitch',
  'Occupation',
  'Gender',
  'NumberOfPersonVisiting'],
 ['CustomerID',
  'NumberOfFollowups',
  'ProductPitched',
  'PreferredPropertyStar',
  'MaritalStatus',
  'NumberOfTrips',
  'Passport',
  'PitchSatisfactionScore',
  'OwnCar',
  'NumberOfChildrenVisiting',
  'Designation',
  'MonthlyIncome'])

# Data cleaning
1. handling missing values
2. handling duplicates
3. check data types
4. understand the data set
5.

In [12]:
# check for null points
null_points1 = data1.isnull().sum()
null_points2 = data2.isnull().sum()

In [ ]:
null_points1, null_points2

CustomerID                  0
ProdTaken                   0
Age                       226
TypeofContact              25
CityTier                    0
DurationOfPitch           251
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
dtype: int64

data[null_points > 0]

In [13]:
null_points_col1 = null_points1[null_points1>0].index
null_points_col2 = null_points2[null_points2>0].index

In [17]:
data_new1 = data1[null_points_col1]
data_new2 = data2[null_points_col2]

In [19]:
print(data_new1.isnull().sum())
print('*'*50)
print(data_new2.isnull().sum())

Age                226
TypeofContact       25
DurationOfPitch    251
dtype: int64
**************************************************
NumberOfFollowups            45
PreferredPropertyStar        26
NumberOfTrips               140
NumberOfChildrenVisiting     66
MonthlyIncome               233
dtype: int64

In [24]:
data1.info() 
print('*'*50)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              4888 non-null   int64
 1   ProdTaken               4888 non-null   int64
 2   Age                     4662 non-null   float64
 3   TypeofContact           4863 non-null   object
 4   CityTier                4888 non-null   int64
 5   DurationOfPitch         4637 non-null   float64
 6   Occupation              4888 non-null   object
 7   Gender                  4888 non-null   object
 8   NumberOfPersonVisiting  4888 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 343.8+ KB
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   NumberOfFollowups         4843 non-null   float64
 2   ProductPitched            4888 non-null   object
 3   PreferredPropertyStar     4862 non-null   float64
 4   MaritalStatus             4888 non-null   object
 5   NumberOfTrips             4748 non-null   float64
 6   Passport                  4888 non-null   int64
 7   PitchSatisfactionScore    4888 non-null   int64
 8   OwnCar                    4888 non-null   int64
 9   NumberOfChildrenVisiting  4822 non-null   float64
 10  Designation               4888 non-null   object
 11  MonthlyIncome             4655 non-null   float64
dtypes: float64(5), int64(4), object(3)
memory usage: 458.4+ KB

In [26]:
# selecting only object data 
((data1.select_dtypes(include='object')).info())
print('*'*50)
((data2.select_dtypes(include='object')).info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TypeofContact  4863 non-null   object
 1   Occupation     4888 non-null   object
 2   Gender         4888 non-null   object
dtypes: object(3)
memory usage: 114.7+ KB
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductPitched  4888 non-null   object
 1   MaritalStatus   4888 non-null   object
 2   Designation     4888 non-null   object
dtypes: object(3)
memory usage: 114.7+ KB

In [81]:
# checking unique values in the object data
data1['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [27]:
#data1['Occupation'].value_counts()

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [85]:
#data['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [89]:
#data['ProductPitched'].value_counts()

ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64

In [91]:
#data['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [93]:
#data['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [28]:
# correcting the Gender object
data1['Gender'] = data1['Gender'].replace('Fe Male', 'Female')

In [29]:
data1['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [30]:
# checking missing value percentage in data1
features_with_na=[features for features in data1.columns if data1[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(data1[feature].isnull().mean()*100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values

In [34]:
# checking missing value percentage in data2
features_with_na2=[features2 for features2 in data2.columns if data2[features2].isnull().sum()>=1]
for feature2 in features_with_na2:
    print(feature2,np.round(data2[feature2].isnull().mean()*100,5), '% missing values')

NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [35]:
# describe object data 
data2[features_with_na2].select_dtypes(exclude = 'object').describe()

,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,3.708445,3.581037,3.236521,1.187267,23619.853491
std,1.002509,0.798009,1.849019,0.857861,5380.698361
min,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,4.000000,4.000000,4.000000,2.000000,25571.000000
max,6.000000,5.000000,22.000000,3.000000,98678.000000

In [37]:
print(data2.columns)
print('*'*50)
print(data1.columns)

Index(['CustomerID', 'NumberOfFollowups', 'ProductPitched',
       'PreferredPropertyStar', 'MaritalStatus', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'NumberOfChildrenVisiting',
       'Designation', 'MonthlyIncome'],
      dtype='object')
**************************************************
Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting'],
      dtype='object')

# imputing null values
 1. impute median value for age column
 2. impute mode for type of contact
 3. impute median for duration of pitch
 4. impute mode for NumberOfFollowUp as it is Discrete feature
 5. impute mode for PreferredPropertyStar
 6. impute median for numberoftips
 7. impute mode for numberofchildrenvisiting
 8. impute median for monthlyincome
    ->> float for continuous value and impute it with median,

In [41]:
#filling missing values
# data1.Age.fillna(data1.Age.median(),inplace=True)
data1['Age'] = data1['Age'].fillna(data1['Age'].median())
data1.TypeofContact.fillna(data1.TypeofContact.mode()[0],inplace = True)
data1.DurationOfPitch.fillna(data1.DurationOfPitch.median(),inplace = True)


#NumberOfFollowups
data2.NumberOfFollowups.fillna(data2.NumberOfFollowups.mode()[0], inplace=True)

#PreferredPropertyStar
data2.PreferredPropertyStar.fillna(data2.PreferredPropertyStar.mode()[0], inplace=True)

#NumberOfTrips
data2.NumberOfTrips.fillna(data2.NumberOfTrips.median(), inplace=True)

#NumberOfChildrenVisiting
data2.NumberOfChildrenVisiting.fillna(data2.NumberOfChildrenVisiting.mode()[0], inplace=True)

#MonthlyIncome
data2.MonthlyIncome.fillna(data2.MonthlyIncome.median(), inplace=True)

/tmp/ipykernel_66183/3760948768.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1.TypeofContact.fillna(data1.TypeofContact.mode()[0],inplace = True)
/tmp/ipykernel_66183/3760948768.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1.DurationOfPitch.fillna(data1.DurationOfPitch.median(),inplace = True)
/tmp/ipykernel_66183/3760948768.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.NumberOfFollowups.fillna(data2.NumberOfFollowups.mode()[0], inplace=True)
/tmp/ipykernel_66183/3760948768.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.PreferredPropertyStar.fillna(data2.PreferredPropertyStar.mode()[0], inplace=True)
/tmp/ipykernel_66183/3760948768.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.NumberOfTrips.fillna(data2.NumberOfTrips.median(), inplace=True)
/tmp/ipykernel_66183/3760948768.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.NumberOfChildrenVisiting.fillna(data2.NumberOfChildrenVisiting.mode()[0], inplace=True)
/tmp/ipykernel_66183/3760948768.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.MonthlyIncome.fillna(data2.MonthlyIncome.median(), inplace=True)

In [45]:
print(data1.isnull().sum())
print('*'*50)
print(data2.isnull().sum())

CustomerID                0
ProdTaken                 0
Age                       0
TypeofContact             0
CityTier                  0
DurationOfPitch           0
Occupation                0
Gender                    0
NumberOfPersonVisiting    0
dtype: int64
**************************************************
CustomerID                  0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [120]:
#data1.head(1)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0

In [46]:
data1['Totalvisiting'] = data1['NumberOfPersonVisiting'] + data2['NumberOfChildrenVisiting']
data1.drop(columns= ['NumberOfPersonVisiting'], inplace =  True)
data2.drop(columns= ['NumberOfChildrenVisiting'],inplace = True)

In [130]:
# #getting all the numeric features
# numeric_features = [features for features in data.columns if data[features].dtype != 'O']
# print(' Num of numerical feature : ', len(numeric_features))

 Num of numerical feature :  13

In [142]:
# # getting all categorical features
# categorical_feature = [feature for feature in data.columns if data[feature].dtype == 'O']
# print(' Number of categorical features : ', len(categorical_feature))

 Number of categorical features :  6

In [148]:
# ## Discrete features
# discrete_features=[feature for feature in numeric_features if len(data[feature].unique())<=25]
# print('Num of Discrete Features :',len(discrete_features))

Num of Discrete Features : 9

In [48]:
# ## coontinuous features
# continuous_features=[feature for feature in numeric_features if feature not in discrete_features]
# print('Num of Continuous Features :',len(continuous_features))

In [50]:
data1.to_csv('/home/theghost001/Pictures/practice_with_H/data/null_value_imputed_data1.csv', index = False)
data2.to_csv('/home/theghost001/Pictures/practice_with_H/data/null_value_imputed_data2.csv', index = False)