In [10]:

import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import chardet as ch
import os

In [36]:
def get_encoding(file):
    with open(file, 'rb') as f:
        result = ch.detect(f.read())
    return result['encoding']

In [38]:
data_list = ['/home/theghost001/Pictures/practice_with_H/data/travel_first_half - Travel.csv', '/home/theghost001/Pictures/practice_with_H/data/travel_second_half - Travel.csv']

In [39]:
for data in data_list:
    print(get_encoding(data))

ascii
ascii

In [41]:
data1 = pd.read_csv('/home/theghost001/Pictures/practice_with_H/data/travel_first_half - Travel.csv', encoding='ascii')
data2 = pd.read_csv('/home/theghost001/Pictures/practice_with_H/data/travel_second_half - Travel.csv', encoding='ascii')

In [ ]:
# for i in data_list:
#   try:
#     data1 = pd.read_csv(i, encoding=get_encoding(i))
#   except UnicodeDecodeError:
#     print("UnicodeDecodeError: Encountered issues with the encoding. Please check the data source or try specifying a different encoding.")

UnicodeDecodeError: Encountered issues with the encoding. Please check the data source or try specifying a different encoding.
UnicodeDecodeError: Encountered issues with the encoding. Please check the data source or try specifying a different encoding.

In [42]:
data1.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2

In [43]:
data2.head()

,CustomerID,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [47]:
from datetime import datetime,timedelta
now = datetime.now()
print(now)
startDate = datetime(2010,1,1)
endDate = datetime(2015,12,31)
timeBetweenDates = endDate - startDate
print('time betwen dates is {}'.format(timeBetweenDates))
daysBetweenDates = timeBetweenDates.days
print('days between dates is {}'.format(daysBetweenDates))
randomNumberOfDays = int(np.random.rand() * daysBetweenDates)
randomDate = startDate + timedelta(days=randomNumberOfDays)
data1['DateOfBirth'] = pd.to_datetime(randomDate)

2025-01-17 11:59:20.784914
time betwen dates is 2190 days, 0:00:00
days between dates is 2190