In [1]:
# loding the libraries
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [10]:
import sys
sys.path.append('/home/theghost001/Pictures/practice_with_H/.py')

#  import logger
from logger import get_logger, log_function

In [12]:
# Initialize logger
logger = get_logger("project_logger", "project.log")

In [4]:
logger.info("Loading the data")

In [5]:
#  will do (1-15) on the data
#1. univariate analysis
#2. bivariate analysis
#3. multivariate analysis
#4. missing values
#5. outliers
#6. feature engineering
#7. feature selection
#8. model building
#9. model evaluation
#10. model deployment
#11. model monitoring
#12. model retraining
#13. model tuning
#14. model optimization
#15. model scaling

In [16]:
# # uploading data on the sqlite3 db for storage and further analysis
# import sqlite3
# #files
# csv_file = "/home/theghost001/Pictures/practice_with_H/data/combined_data.csv"
# db_file = "/home/theghost001/Pictures/practice_with_H/data/data.db"
# # connection to the sqlite3 
# con = sqlite3.connect(db_file)
# print("Connection to the sqlite3 db is successful")
# # reading the csv file into dataFrame
# df = pd.read_csv(csv_file)
# print("CSV file read into the dataFrame successfully")
# # saving the data into the sqlite3 db
# table_name = "travelData"
# df.to_sql(table_name, con, if_exists="replace",index=False)
# print("Data saved into the sqlite3 db successfully")

# uploading data on the sqlite3 db for storage and further analysis with logging also

@log_function(logger)
def connection_to_db(db_path):
    con = sqlite3.connect(db_path)
    return con

@log_function(logger)
def load_data_from_csv(csv_path):
    df = pd.read_csv(csv_path)
    return df

@log_function(logger)
def save_data_to_db(con, df, table_name,index = False):
    df.to_sql(table_name, con, if_exists="replace", index=False)

# main()
try:
    logger.info("Loading the data into sqlite3 db")

    db_path = "/home/theghost001/Pictures/practice_with_H/data/data.db"
    csv_path = "/home/theghost001/Pictures/practice_with_H/data/combined_data.csv"
    table_name = "travelData"

    #making connection to the sqlite3 db
    # con = connection_to_db(db_path)
    # df = load_data_from_csv(csv_path)
    # save_data_to_db(con, df, table_name)

    with sqlite3.connect(db_path) as con:
        df = load_data_from_csv(csv_path)
        save_data_to_db(con = con, df = df, table_name = table_name,index=False)


    logger.info("Data loaded into sqlite3 db successfully")
except Exception as e:
    logger.error(f"Error: {str(e)}")
    raise
finally:
    if 'con' in locals():
        con.close()
        logger.info("Connection to the sqlite3 db closed successfully")

In [24]:
#testing the connection to the sqlite3 db
db_path = "/home/theghost001/Pictures/practice_with_H/data/data.db"

con = sqlite3.connect(db_path)
cursor = con.cursor()

cursor.execute("SELECT * FROM travelData LIMIT 1")
print(cursor.fetchall())
print(type(cursor.fetchall()))

con.close()

[(200000, '1984-01', 1, 41.0, 'Self Enquiry', 3, 6.0, 'Salaried', 3.0, '2015-04-28', 28, 4, 2015, 'SE', 3.0, 'Deluxe', 3.0, 'Single', 1.0, 1, 2, 1, 'Manager', 20993.0, 'Female', 'FS', 0)]
<class 'list'>

In [31]:
#testing the connection to the sqlite3 db
db_path = "/home/theghost001/Pictures/practice_with_H/data/data.db"

con = sqlite3.connect(db_path)
cursor = con.cursor()

cursor.execute("SELECT * FROM travelData")
data = cursor.fetchall()

column_names = [description[0] for description in cursor.description]

df = pd.DataFrame(data,columns=column_names)
con.close()

In [33]:
df.shape

(4888, 27)

## 1. Univariate Analysis

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              4888 non-null   int64
 1   DateOfBirth(age)        4888 non-null   object
 2   ProdTaken               4888 non-null   int64
 3   Age                     4888 non-null   float64
 4   TypeofContact           4888 non-null   object
 5   CityTier                4888 non-null   int64
 6   DurationOfPitch         4888 non-null   float64
 7   Occupation              4888 non-null   object
 8   Totalvisiting           4888 non-null   float64
 9   DateofBirth             4888 non-null   object
 10  Date(birth)             4888 non-null   int64
 11  Month(birth)            4888 non-null   int64
 12  Year(birth)             4888 non-null   int64
 13  TypeofContact(Allias)   4888 non-null   object
 14  NumberOfFollowups       4888 non-null   float64
 15  ProductPitched          4888 non-null   object
 16  PreferredPropertyStar   4888 non-null   float64
 17  MaritalStatus           4888 non-null   object
 18  NumberOfTrips           4888 non-null   float64
 19  Passport                4888 non-null   int64
 20  PitchSatisfactionScore  4888 non-null   int64
 21  OwnCar                  4888 non-null   int64
 22  Designation             4888 non-null   object
 23  MonthlyIncome           4888 non-null   float64
 24  Gender                  4888 non-null   object
 25  MaritalStatus(Allias)   4888 non-null   object
 26  NumberOfChildren        4888 non-null   int64
dtypes: float64(7), int64(10), object(10)
memory usage: 1.0+ MB

In [49]:
#total features
print(f"total features in df travelData is {df.shape[1]}")
#total numerical features
print(f"total numerical features in df travelData is {df.select_dtypes(include='number').shape[1]}")
#total categorical features
print(f"total categorical features in the df travelData is {df.select_dtypes(include='object').shape[1]}")

total features in df travelData is 27
total numerical features in df travelData is 17
total categorical features in the df travelData is 10